.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert {
    position: relative;
    padding: 12px 20px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col-md-6 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

img {
    border-style: none;
}

h3 {
    display: block;
    margin: 10px 0;
}

.favoritos-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}