.cards {
  padding: 12px 1.20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}


.titulo-series {
  background-color: #efe6bf;
  color: #8a6d1d;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 32px;

}