/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;
}
.container {
    width: 100%;
    padding-right: 0px 15px 0px 15px;
    margin-right: auto;
    margin-left: auto;
    
}

.container h1{
    font-weight: 500;
    font-size: 40px;
}