.search-form {
    padding: 8px 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin-bottom: 8px;
}

.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    font-size: 16px;
    padding-bottom: 4px;
}

.search-form .btn-sm {
    font-size: 14.5px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
}

.search-form select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
}

@media (max-width: 768px) {
    .search-form {
        flex-wrap: wrap;
        margin-bottom: 8px;
    }

    .search-form input,
    .filter-form input {
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .search-form .btn-sm {
        font-size: 13px;
    }

    .btn {
        padding: 6px 10px;
        font-size: 15px;
    }

    .search-form select {
        padding: 4px;
    }
}

@media (max-width: 460px) {
    .search-form {
        flex-direction: column;
        margin-bottom: 8px;
    }

    .search-form input,
    .filter-form input {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .search-form .btn-sm {
        font-size: 13px;
    }

    .btn {
        width: 100%;
        padding: 8px 12px;
        font-size: 14px;
    }

    .search-form select {
        padding: 5px;
    }
}